img[alt=road] { width: 800px; }
img[alt=profile] { width: 500px; }
.header{
  /* min-width: 370px;
  border-radius: 10px;
  border-color: #ffb703;
  border-width: 10px;
  border-style: solid; */
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  color: white;
  overflow: auto;
  z-index: -1;
}

.coursetext h1{
  text-align: left;
  font-size: 30px;
  opacity: 1;
  margin-bottom: 20px;
  /* border-bottom: 5px solid white; */
  margin-top: 10px;
  padding: 15px;
  /* color: gray; */
}

.courses {
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  /* color: gray; */
  -webkit-column-rule: 4px double #ddd; /* Chrome, Safari, Opera */
  -moz-column-rule: 4px double #ddd; /* Firefox */
  column-rule: 4px double #ddd;
}

/* table {
  text-align: center;
  table-layout: fixed ;
  width: 100% ;
} */

th, td {
padding: 10px;
text-align: center;
}
/* tr:hover {background-color: #0274ff;} */
td:hover {background-color: #ff6c44;}
th {
  background-color: #ff6c44;
  /* color: white; */
}